//ul{
//  position: relative;
//  bottom: 0;
//  background-color: deeppink;
//  width: 100%;
//}

ul {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: deeppink;
  color: white;
  text-align: center;
}
